<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/dist/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
	<title>ACP Research Group</title>
	<meta name="description" content="ACP, an innovative research and education section in computer science at the University of Southern Denmark."/>
	<link rel="canonical" href="https://acp.sdu.dk/" />
	<meta property="og:title" content="ACP Research Group" />
	<meta property="og:url" content="https://acp.sdu.dk/"/>
	<meta property="og:description" content="ACP, an innovative research and education section in computer science at the University of Southern Denmark."/>
	<meta property="og:image" content="https://acp.sdu.dk/images/acp-crest-motto.png"/>
  <meta name="fediverse:creator" content="@acp@mastodon.acm.org">
  <link rel="me" href="https://mastodon.acm.org/@acp"/>
</head>
<body>
